<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">

    <script src="/jquery.js"></script>
    <script src="/jquery.jeditable.min.js"></script>
    <script src="/jquery-ui-custom.min.js"></script>
    <script src="/app.js"></script>

    <title>iGotIdea</title>
  </head>

  <body>
    <div id="content">
      <header>
        <h1>iGotIdea</h1>

        <nav>
          <a id="new-idea" href="#">New idea</a>
          <input id="search" type="text" title="Search">

          <div id="trash" title="Drag an idea and drop it here to trash it.">trash</div>
        </nav>

      </header>

      <ol id="ideas">
        <li id="idea-template" style="display:none">
          <!-- <div class="vote">
            <a class="up" data-method="post">up</a>
            <span class="score"></span>
            <a class="down" data-method="post">down</a>
          </div> -->

          <div class="text">Put your idea here.</div>
        </li>
      </ol>

      <div id="indicator" style="display:none"></div>
    </div>
  </body>
</html>
