<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">

    <script src="/jquery.js"></script>
    <script src="/jquery.jeditable.min.js"></script>
    <script src="/jquery.scrollto.min.js"></script>
    <script src="/jquery-ui-custom.min.js"></script>
    <script src="/app.js"></script>

    <title>iGotIdea</title>
  </head>

  <body>
    <div id="content">
      <header>
        <h1>iGotIdea</h1>

        <nav>
          <a id="new-idea" href="#">New idea</a>
          <input id="search" type="text" title="Search">

          <div id="trash" title="Drag an idea and drop it here to trash it.">trash</div>
        </nav>

      </header>

      <ol id="ideas">
        <li id="idea-1">
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit blandit tortor nec porttitor. Etiam et ipsum nisi, in semper tortor. Quisque id eleifend purus. Vestibulum eu ipsum eu enim dignissim tristique. Aliquam nunc dolor, placerat sit amet dignissim sed, volutpat quis urna. Morbi blandit vulputate lorem ut malesuada.</div>
        </li>
      </ol>
    </div>
  </body>
</html>
