<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">

    <script src="/jquery.js"></script>
    <script src="/app.js"></script>

    <title>iGotIdea</title>
  </head>

  <body>
    <div id="content">
      <header>
        <h1>iGotIdea</h1>
      </header>

      <nav>
        <a class="new-idea" href="/ideas/new" data-remote>New idea</a>
      </nav>

      <ol>
        <li id="idea-1">
          <p>Nice style</p>

          <nav>
            <a href="/ideas/1/up" data-remote data-method="post">vote up</a>
            <a href="/ideas/1/down" data-remote data-method="post">vote down</a>
            <a href="/ideas/1" data-remote data-method="delete">delete</a>
          </nav>
        </li>

        <li id="idea-2">
          <p>Multiple users</p>

          <nav>
            <a href="/ideas/3/up" data-remote data-method="post">vote up</a>
            <a href="/ideas/3/down" data-remote data-method="post">vote down</a>
            <a href="/ideas/2" data-remote data-method="delete">delete</a>
          </nav>
        </li>

        <li id="idea-3">
          <p>Voting</p>

          <nav>
            <a href="/ideas/3/up" data-remote data-method="post">vote up</a>
            <a href="/ideas/3/down" data-remote data-method="post">vote down</a>
            <a href="/ideas/3" data-remote data-method="delete">delete</a>
          </nav>
        </li>
      </ol>
    </div>
  </body>
</html>
