<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">

    <script src="/jquery.js"></script>
    <script src="/jquery.jeditable.min.js"></script>
    <script src="/jquery-ui-custom.min.js"></script>
    <script src="/move.js"></script>
    <script src="/app.js"></script>

    <title>bulb</title>
  </head>

  <body data-web-socket-port="<%= CONFIG[:web_socket_port] %>">
    <div id="content">
      <header>
        <h1>bulb</h1>

        <nav>
          <a id="new-idea" href="#">New idea</a>
          <input id="search" type="text" title="Search">

          <div id="trash" title="Drag an idea and drop it here to trash it.">trash</div>
        </nav>
      </header>

      <ol id="ideas">
        <li id="idea-template" style="display:none">
          <a class="up" href="#" title="vote up">up</a>
          <a class="down" href="#" title="vote down">down</a>
          <span class="votes" title="votes"></span>

          <div class="text">Put your idea here.</div>
          <div class="handle"></div>
        </li>
      </ol>

      <footer>
        bulb |
        <a href="https://github.com/madadam/bulb/issue">issues</a>  |
        <a href="https://github.com/madadam/bulb">source</a> |
        &copy; <a href="https://github.com/madadam">adam cigánek</a>
      </footer>

      <div id="indicator" style="display:none"></div>
    </div>
  </body>
</html>
