$background-color: rgb(200, 200, 200);
$content-background-color: lighten($background-color, 10%);
$content-width: 400px;
$header-background-color: rgb(178, 25, 20);

@mixin round-corners($radius: 5px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin linear-gradient($from-color, $to-color) {
  background: -webkit-linear-gradient(top, $from-color, $to-color);
  background: -moz-linear-gradient(top, $from-color, $to-color);
}

@mixin box-shadow($x: 0, $y: 0, $radius: 5px, $color: rgba(0, 0, 0, 0.5)) {
  box-shadow: $x $y $radius $color;
  -moz-box-shadow: $x $y $radius $color;
}

@mixin inset-outset-box-shadow($x, $y, 
                               $inset-radius, $inset-color,
                               $outset-radius, $outset-color) {
  box-shadow: inset $x $y $inset-radius $inset-color, $x $y $outset-radius $outset-color;
  -moz-box-shadow: inset $x $y $inset-radius $inset-color, $x $y $outset-radius $outset-color;
}

@mixin double-box-shadow($x, $y, $radius1, $color1, $radius2, $color2) {
  box-shadow: $x $y $radius1 $color1, $x $y $radius2, $color2;
  -moz-box-shadow: $x $y $radius1 $color1, $x $y $radius2 $color2;
}


@mixin button-base($background-color: rgb(20, 20, 20), $height: 30px) {
  @include round-corners(15px);
  @include linear-gradient(lighten($background-color, 20%), $background-color);
  @include inset-outset-box-shadow(0, 0, 5px, rgba(0, 0, 0, 0.6), 
                                         5px, rgba(0, 0, 0, 0.8));

  color: rgba(255, 255, 255, 0.9);
  border: none;

  text-decoration: none;
  font-size: $height / 2;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);

  line-height: $height;
  height: $height;
  padding: 0 $height / 2;

  display: inline-block;
}

@mixin hovered-button($background-color, $height) {
  @include inset-outset-box-shadow(0, 0, 3px, rgba(0, 0, 0, 0.6), 
                                         8px, rgba(0, 0, 0, 0.8));
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

@mixin pressed-button($background-color, $height) {
  @include inset-outset-box-shadow(0, 0, 3px, rgba(0, 0, 0, 0.6), 
                                         6px, rgba(0, 0, 0, 0.8));
  position: relative;
  top: 1px;
}

@mixin button($background-color: rgb(20, 20, 20), $height: 30px) {
  @include button-base($background-color, $height);
  
  &:hover  { @include hovered-button($background-color, $height); }
  &:active { @include pressed-button($background-color, $height); }
}

@mixin enableable-button($background-color: rgb(20, 20, 20), $height: 30px) {
  @include button-base($background-color, $height);
  color: rgba(255, 255, 255, 0.2);

  &.enabled {
    color: rgba(255, 255, 255, 0.9);

    &:hover  { @include hovered-button($background-color, $height); }
    &:active { @include pressed-button($background-color, $height); }
  }
}

body {
  background: $background-color;
  margin: 0;
  padding: 0;

  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 13px;
}

#content {
  @include round-corners(5px);
  @include box-shadow(0, 0, 10px, rgba(0, 0, 0, 0.5));

  background: $content-background-color;

  width: $content-width;
  margin: 0 auto 40px auto;
  position: relative;

  header {
    background: rgb(178, 25, 20);
    padding: 0;
    width: 100%;
    height: 100px;
    display: block;

    h1 { 
      background-image: url(/lightbulb.jpg);
      padding: 0;
      margin: 0;
      width: 143px;
      height: 100px;
      float: left;
      text-indent: 150px;
      overflow: hidden;
    }

    > nav {
      float: left;
      width: $content-width - 143px;
      height: 100%;
      position: relative;

      #new-idea, #search {
        vertical-align: middle;
        margin: 70px 0 0 0;
      }

      #new-idea {
        @include enableable-button(rgb(40, 40, 40), 25px);
      }

      #search {
        @include round-corners;
        @include box-shadow(0, 0, 10px, rgba(0, 0, 0, 0.5));
          
        background-image: url(/search.png);
        background-repeat: no-repeat;
        background-position: 4px center;
        background-color: rgba(255, 255, 255, 0.8);
        border: none;

        color: black;
        
        display: inline-block;
        height: 20px;
        width: 120px;
        line-height: 20px;
        font-size: 12px;
        padding-left: 28px;
        margin-left: 10px;
      }

      #trash {
        @include round-corners;
        @include box-shadow(0, 0, 5px, rgba(0, 0, 0, 0.5));

        background-color: rgba(0, 0, 0, 0.4);
        background-image: url(/trash.png); 
        background-repeat: no-repeat;
        background-position: center center;

        display: inline-block;
        width: 60px;
        height: 60px;

        text-indent: 100px;
        overflow: hidden;

        position: fixed;
        right: 10px;
        bottom: 10px;

        &.active {
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }

  > ol#ideas {
    clear: both;
    list-style-type: none;
    padding: 10px 10px;
    margin: 0;

    li {
      @include round-corners(3px);
      @include box-shadow(0, 0, 10px, rgba(0, 0, 0, 0.5));

      background: rgba(255, 255, 255, 0.6);
      margin: 10px;
      padding: 2px;
      position: relative;
      min-height: 50px;

      a.up, a.down, span.votes { display: none }

      .text {
        @include round-corners(3px);
        border: solid 1px rgb(220, 220, 220);
        background: rgba(255, 255, 255, 0.4);
        padding: 0;
        margin: 0 32px 0 24px;
        min-height: 44px;
        cursor: text;

        button {
          background-color: transparent;
          opacity: 0.8;
          position: absolute;
          right: 2px;
          width: 24px;
          height: 24px;
          border: none;
          padding: 0;
          margin: 0;
          overflow: hidden;
          text-indent: 30px;
          z-index: 2;

          &:hover { opacity: 1; }
        }

        button[type=submit] {
          background-image: url(/ok.png);
          top: 2px;

          &:active { top: 3px; }
        }

        button[type=cancel] {
          background-image: url(/cancel.png);
          top: 28px;
          
          &:active { top: 29px; }
        }
      }

      .handle {
        background-image: url(/handle.png);
        position: absolute;
        top: 4px;
        right: 4px;
        width: 26px;
        height: 46px;
        cursor: move;
        z-index: 0;
        display: block;
      }
    }
    
    li.votable {
      a.up, a.down, span.votes {
        position: absolute;
        display: block;
      }

      a.up, a.down {
        background-repeat: no-repeat;
        opacity: 0.5;
        width: 14px;
        height: 16px;
        left: 6px;
        overflow: hidden;
        text-indent: 100px;
        cursor: default;

        &:hover { opacity: 1; }
      }

      a.up {
        background-image: url(/up.png);
        top: 2px;

        &:active { top: 3px; }
      }

      a.down {
        background-image: url(/down.png);
        top: 36px;
        
        &:active { top: 37px; }
      }

      span.votes {
        @include round-corners(3px);
        background: rgba(0, 0, 0, 0.1);
        font-size: 10px;
        color: rgb(50, 50, 50);
        left: 2px;
        top: 20px;
        padding: 1px 2px;
        min-width: 18px;
        text-align: right;
      }
    }

    li.upvote { 
      a.up { background-image: url(/up-active.png); } 
    }

    li.downvote { 
      a.down { background-image: url(/down-active.png); }
    }
  }

  footer {
    color: rgb(100, 100, 100);
    text-align: center;
    border-top: dotted 1px rgb(200, 200, 200);
    font-size: 10px;
    padding: 2px;

    a {
      color: rgb(100, 50, 50);
      text-decoration: none;

      &:hover { text-decoration: underline; }
    }
  }

  #indicator {
    background: url(/indicator.gif);
    position: absolute;
    top: 4px;
    right: 10px;
    width: 24px;
    height: 24px;
  }
}

p.fail {
  background: url(/sadcat.jpg) no-repeat top center;
  padding-top: 280px;

  text-align: center;
}


